// Colors
$color-white: #ffffff;
$color-light-red: #e15151;
$color-black: #000000;
$color-grey: #848484;
$color-light-grey: #f9f9f9;
$color-header: #aaef97;
$color-background-table: #e7d9cf;
$color-total-button: #4444ef;
$color-active-button: #74e874;

